<h2>{{ showSignUp ? 'Sign Up' : 'Login' }}</h2>
<form>
  <div class="row">
    <div class="col-md-6">
      <label>User Name</label>
      <input type="text" class="form-control" [(ngModel)]="userName" name="userName" />
      <label>Password</label>
      <input type="password" class="form-control" [(ngModel)]="password" name="password" />
      <div *ngIf = "adminSignUp">
      <label>Tavern Name</label>
      <input type="text" class="form-control" [(ngModel)]="tavernName" name="tavernName" />
      </div>
      <div *ngIf = "managerSignUp">
      <label for=""></label>
      <select class="form-control" [(ngModel)] ="selectedTavern" name="tavernList">
        <option [ngValue]="undefined" disabled>Select Tavern </option>
          <option *ngFor="let tavern of taverns" [ngValue]="tavern">{{tavern.ID}}: {{tavern.TavernName}}</option>
      </select>
      </div>
    </div>
    <div class="col-md-6"></div>
  </div>
  <br />
  <div class="row">
    <div class="col-md-6">
      <div *ngIf = "showSignUp">
        <label for = "adminButton">Admin</label>
        <input type = checkbox class="radio" id = "adminButton" name ="adminButton" (click)="toggleAdmin()"/>
        <label for = "managerButton">Manager</label>
        <input type = checkbox class="radio" id = "managerButton" name ="managerButton" (click)="toggleManager()"/>
        </div>
      <button *ngIf = "!showSignUp" type="submit" class="btn btn-primary" (click)="login()">
        Submit
      </button>
      <button *ngIf = "showSignUp" type="submit" class="btn btn-primary" (click)="signUp()">
        Sign Up
      </button>
      <button type="button" class="btn btn-secondary float-right" (click)="toggleSignUp()">
        {{ showSignUp ? 'Cancel' : 'Sign Up' }}
      </button>
    </div>
  </div>
</form>